In [2]:
import pandas as pd
#reading the csv file
df_csv=pd.read_csv("C:/Users/Lenovo/Desktop/jupyter notebook/dataset/iris - iris.csv")

In [7]:
df_csv.head(10)

   x0   x1   x2   x3   x4         type
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   1  4.9  3.0  1.4  0.2  Iris-setosa
2   1  4.7  3.2  1.3  0.2  Iris-setosa
3   1  4.6  3.1  1.5  0.2  Iris-setosa
4   1  5.0  3.6  1.4  0.2  Iris-setosa
5   1  5.4  3.9  1.7  0.4  Iris-setosa
6   1  4.6  3.4  1.4  0.3  Iris-setosa
7   1  5.0  3.4  1.5  0.2  Iris-setosa
8   1  4.4  2.9  1.4  0.2  Iris-setosa
9   1  4.9  3.1  1.5  0.1  Iris-setosa

In [17]:
df_csv.iloc[5]

x0                1
x1              5.4
x2              3.9
x3              1.7
x4              0.4
type    Iris-setosa
Name: 5, dtype: object

In [8]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      150 non-null    int64
 1   x1      150 non-null    float64
 2   x2      150 non-null    float64
 3   x3      150 non-null    float64
 4   x4      150 non-null    float64
 5   type    150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [18]:
df_csv.sort_values(by="x1")

     x0   x1   x2   x3   x4            type
13    1  4.3  3.0  1.1  0.1     Iris-setosa
8     1  4.4  2.9  1.4  0.2     Iris-setosa
42    1  4.4  3.2  1.3  0.2     Iris-setosa
38    1  4.4  3.0  1.3  0.2     Iris-setosa
41    1  4.5  2.3  1.3  0.3     Iris-setosa
..   ..  ...  ...  ...  ...             ...
122   1  7.7  2.8  6.7  2.0  Iris-virginica
117   1  7.7  3.8  6.7  2.2  Iris-virginica
118   1  7.7  2.6  6.9  2.3  Iris-virginica
135   1  7.7  3.0  6.1  2.3  Iris-virginica
131   1  7.9  3.8  6.4  2.0  Iris-virginica

[150 rows x 6 columns]

In [9]:
df_csv.describe()

          x0          x1          x2          x3          x4
count  150.0  150.000000  150.000000  150.000000  150.000000
mean     1.0    5.843333    3.054000    3.758667    1.198667
std      0.0    0.828066    0.433594    1.764420    0.763161
min      1.0    4.300000    2.000000    1.000000    0.100000
25%      1.0    5.100000    2.800000    1.600000    0.300000
50%      1.0    5.800000    3.000000    4.350000    1.300000
75%      1.0    6.400000    3.300000    5.100000    1.800000
max      1.0    7.900000    4.400000    6.900000    2.500000

In [9]:
df_csv.iloc[[10,12,17]]

          x0          x1          x2          x3          x4
count  150.0  150.000000  150.000000  150.000000  150.000000
mean     1.0    5.843333    3.054000    3.758667    1.198667
std      0.0    0.828066    0.433594    1.764420    0.763161
min      1.0    4.300000    2.000000    1.000000    0.100000
25%      1.0    5.100000    2.800000    1.600000    0.300000
50%      1.0    5.800000    3.000000    4.350000    1.300000
75%      1.0    6.400000    3.300000    5.100000    1.800000
max      1.0    7.900000    4.400000    6.900000    2.500000

In [12]:
#reading .txt file
df_txt = pd.read_csv(r'C:/Users/Lenovo/Desktop/jupyter notebook/dataset/sample.txt', sep='\t')
df_txt

                                   Sample Paragraph:
0  The rapid advancement of technology in the 21s...
1  At the heart of this transformation is data, o...
2  In addition to the challenges posed by data, t...
3  Moreover, as technology continues to evolve, t...

In [13]:
with open('C:/Users/Lenovo/Desktop/jupyter notebook/dataset/sample.txt', 'r') as file:
   fileContent = file.read()
print(fileContent)

Sample Paragraph:

The rapid advancement of technology in the 21st century has dramatically changed the way we live and work. From the proliferation of smartphones and the rise of social media to the development of artificial intelligence and automation, society is experiencing a digital transformation on a global scale. These innovations have not only improved efficiency but also raised important ethical questions about privacy, security, and the future of employment. As we continue to embrace these technologies, it is crucial to find a balance between innovation and responsibility, ensuring that the benefits are widely shared and the potential risks are mitigated.

At the heart of this transformation is data, often referred to as the new oil. The vast amounts of information generated daily are being harnessed to fuel machine learning algorithms, enabling more personalized services, smarter cities, and breakthroughs in healthcare. However, with great power comes great responsibility. The ethical use of data is a growing concern, particularly as companies and governments gain unprecedented insights into human behavior. The protection of individual privacy, the prevention of data breaches, and the regulation of how data is collected and used are critical issues that must be addressed.

In addition to the challenges posed by data, the increasing automation of jobs through artificial intelligence and robotics has sparked debates about the future of work. While some argue that automation will lead to greater efficiency and open up new opportunities, others fear it may displace workers in industries ranging from manufacturing to customer service. The key will be in re-skilling and up-skilling the workforce to adapt to these changes, ensuring that the transition to an automated economy benefits all members of society, not just a select few.

Moreover, as technology continues to evolve, the role of education becomes even more important. Lifelong learning and adaptability will be crucial skills in the future, as industries constantly shift in response to technological advancements. Governments, institutions, and corporations will need to collaborate in developing new educational models that equip individuals with both the technical skills and critical thinking necessary to thrive in a fast-changing world.

In [15]:
#reading .xml file
import xml.etree.ElementTree as ET

tree = ET.parse('C:/Users/Lenovo/Desktop/jupyter notebook/dataset/Example.xml')
root = tree.getroot()

# Print out the tag names and text
for child in root:
    print(child.tag, child.text)

book

book

book

book

book

book

book

book

book

book

book

book