In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris

In [8]:
df=pd.read_csv("C:/Users/Lenovo/Desktop/jupyter notebook/dataset/iris - iris.csv")

In [10]:
df.head(10)

   x0   x1   x2   x3   x4         type
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   1  4.9  3.0  1.4  0.2  Iris-setosa
2   1  4.7  3.2  1.3  0.2  Iris-setosa
3   1  4.6  3.1  1.5  0.2  Iris-setosa
4   1  5.0  3.6  1.4  0.2  Iris-setosa
5   1  5.4  3.9  1.7  0.4  Iris-setosa
6   1  4.6  3.4  1.4  0.3  Iris-setosa
7   1  5.0  3.4  1.5  0.2  Iris-setosa
8   1  4.4  2.9  1.4  0.2  Iris-setosa
9   1  4.9  3.1  1.5  0.1  Iris-setosa

In [12]:
columns=df.iloc[:,[1,2,3,4]]
columns

      x1   x2   x3   x4
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [13]:
correlation_matrix = columns.corr()
print(correlation_matrix)

          x1        x2        x3        x4
x1  1.000000 -0.109369  0.871754  0.817954
x2 -0.109369  1.000000 -0.420516 -0.356544
x3  0.871754 -0.420516  1.000000  0.962757
x4  0.817954 -0.356544  0.962757  1.000000

In [14]:
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [15]:
plt.figure(figsize=(2,9))

In [73]:
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', vmin=-1, vmax=1)

In [ ]:
print(df